.done {
  text-decoration: line-through;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
body {
  background: rgb(243, 243, 243);
}
.App {
  background: #b9a4bb;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 40%;
  margin: 2.5% auto;
  height: 150vh;
  border-radius: 8px;
}
h1 {
  color: rgb(182, 26, 26);
  font-size: 2rem;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
input {
  outline: none;
  border: 2px solid #dc3545;
  padding: 14px 32px 14px 16px;
  background: transparent;
  width: 28vw;
  border-radius: 4px 0 0 4px;
  color: white;
}
.add button {
  outline: none;
  border: none;
  padding: 16px;
  background: #dc3545;
  color: #fff;
  border-radius: 0 4px 4px 0;
}
.task {
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35vw;
  border-radius: 6px;
  border: none;
  margin: 20px auto;
  background: linear-gradient(to right, #e96443, #904e95);
  /* height: 40px; */
  padding: 10px 10px;
}

.task button {
  background-color: transparent;
  border: transparent;
}

.task:nth-child(4n + 1) {
  background: linear-gradient(to right, #3a7bd5, #3a6073);
}

.task:nth-child(4n + 2) {
  background: linear-gradient(to right, #403a3e, #be5869);
}

.task:nth-child(4n + 3) {
  background: linear-gradient(to right, #4b79a1, #283e51);
}
@media screen and (max-width: 900px) {
  .App {
    width: 100%;
    height: 100vh;
    border: none;
    margin: 0;
    border-radius: 0;
  }
  input {
    border: 2px solid #5d0cff;
    padding: 7px 16px 7px 8px;
    background: transparent;
    width: 68vw;
    border-radius: 4px 0 0 4px;
    color: white;
  }
  .add button {
    padding: 9px;
    border-radius: 0 2px 2px 0;
  }
  .task {
    color: white;
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    border-radius: 6px;
    border: none;
    margin: 12px auto;
    background: linear-gradient(
      90deg,
      rgba(255, 118, 20, 1) 0%,
      rgba(255, 84, 17, 1) 100%
    );
    /* height: 40px; */
    padding: 5px 5px;
  }
}
